Repository salty-vagrant/Notion-2-Obsidan: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check

pytest-check:
  name: pytest
  entry: bash -c 'poetry run pytest'
  pass_filenames: false
  language: system

mypy-check:
  name: mypy
  entry: bash -c 'poetry run mypy knox'
  pass_filenames: false
  language: system

Add coverage analysis
  .gitignore
  poetry.lock
  pyproject.toml
Due: none

Add checks for valid page resource to notion
  knox/model/base/__init__.py
  knox/model/base/exceptions.py
  knox/model/base/page.py
  knox/model/notion/notion.py
  knox/model/notion/page.py
  tests/model/test_notion.py
Due: pytest-check, mypy-check

Remove parser, we're going to use markdown-it-py
  knox/model/base/page.py
  knox/parser/__init__.py
  knox/parser/base/__init__.py
  knox/parser/base/ast.py
  knox/parser/base/parser.py
  knox/parser/notion/__init__.py
  knox/parser/notion/markdownparser.py
  tests/model/test_notion.py
Due: pytest-check, mypy-check

Add new page generation to Notion.
  knox/model/base/datastore.py
  knox/model/notion/notion.py
  knox/model/notion/notiondirstore.py
  knox/model/notion/notionzipstore.py
  tests/assets/notion/minimal.zip
  tests/model/__init__.py
  tests/model/conftest.py
  tests/model/test_notion.py
Due: pytest-check, mypy-check

Shift test parameters to common ground
  tests/model/test_notion.py
Due: pytest-check

Use yield approach for session fixture
  tests/model/conftest.py
Due: pytest-check

Add test results fixture and simplify all parametrize fixture calls
  tests/model/conftest.py
  tests/model/test_notion.py
Due: pytest-check

Add resource list to datasources
  knox/model/base/datastore.py
  knox/model/notion/notion.py
  knox/model/notion/notiondirstore.py
  knox/model/notion/notionzipstore.py
  tests/assets/notion/minimal.zip
  tests/model/conftest.py
  tests/model/test_notion.py
  tests/model/test_notion_expected_results/minimal_resources_list.txt
Due: pytest-check, mypy-check

Add markdown parser
  poetry.lock
  pyproject.toml
Due: none

Add simple page Link
  knox/model/base/__init__.py
  knox/model/base/link.py
  tests/model/base/test_base.py
Due: pytest-check, mypy-check

Added pylint checks
  .pylintrc
  knox/cli.py
  knox/model/base/page.py
  knox/model/notion/notion.py
  knox/model/notion/notiondirstore.py
  knox/model/notion/page.py
Due: pytest-check, mypy-check

Add page link discovery
  knox/model/base/datastore.py
  knox/model/base/exceptions.py
  knox/model/base/link.py
  knox/model/notion/notion.py
  knox/model/notion/notiondirstore.py
  knox/model/notion/notionzipstore.py
  knox/model/notion/page.py
  tests/model/test_notion.py
  tests/model/test_notion_expected_results/page1_link_list.txt
Due: pytest-check, mypy-check

Exclude non-'page' resource from link extraction
  knox/model/notion/page.py
  tests/model/test_notion.py
Due: pytest-check, mypy-check

Correct accidentally pasising test
  tests/model/test_notion.py
Due: pytest-check

Add Bandit vulnerability checks to pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Add package vulnerability checks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Add basic markdown rendering
  knox/model/notion/page.py
  knox/renderer/__init__.py
  knox/renderer/markdown.py
  knox/renderer/renderer.py
  tests/assets/markdown/test_files/base_markdown_test_page.md
  tests/conftest.py
  tests/model/test_notion.py
  tests/renderer/test_renderer.py
Due: pytest-check, mypy-check

Rename test to be a bit more accurate
  tests/renderer/test_renderer.py
Due: pytest-check

Tidy up for coding standard
  knox/cli.py
Due: pytest-check, mypy-check

Latest 'clean' build
  knox/model/base/page.py
  knox/model/notion/page.py
  knox/renderer/markdown.py
  knox/renderer/renderer.py
  poetry.lock
  pyproject.toml
  tests/assets/markdown/test_files/notion_export_markdown_test_page.md
  tests/renderer/test_renderer.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: \.py$, but not: ^(tests/assets/.*)$
  mypy-check: any of: ^knox/ and \.py$ and not (^(tests/assets/.*)$)
